@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Bebas+Neue&family=Francois+One&family=Limelight&family=Roboto+Serif:wght@100&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

.nav-color {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #059EE1;
    
}

.nav-item i {
    font-size: 15px;
}

.nav-item .nav-link {
    font-size: 20px;
}

.icon-lg {
    font-size: 20px;
    margin-right: 3vmax;
}

.dropdown-item {
    font-size: 20px;
}

img{
    width: 100%;
}
.modal-content {
    background-color: #e6f3ff;
    color: #333;
    border-color: #b3d9ff;
}

.modal-header {
    background-color: #e6f3ff;
    color: #333;
    border-bottom-color: #b3d9ff;
}

.modal-title {
    color: #333;
}

.modal-body {
    color: #333;
}

.modal-footer {
    background-color: #e6f3ff;
    border-top-color: #b3d9ff;
}

#confirmLogoutBtn {
    background-color: #b3d9ff;
    border-color: #b3d9ff;
    color: #333;
}

#confirmLogoutBtn:hover,
#confirmLogoutBtn:focus {
    background-color: #8ec2ff;
    border-color: #8ec2ff;
    color: #333;
}

.title-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #059EE1;
    margin: 20px;
    
}

.search-bar {
    background-color: #b2d4e5;
    padding: 20px;
    border-radius: 10px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 250px; /* Ajusta el ancho según tus necesidades */
}

.title {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 36px;
}
.card-description{
    margin-top: 10px;
    padding: 3px;
    background-color: #b3d9ff;
    border-radius: 6px;
}
.card-description .show{
    display: block;
}

.card-expand {
    height: auto !important;
}

.card-description .btn-toggle,
.card-description .btn-buy {
    flex: 1;
}
.date-block {
max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
}
.date-block {
margin-right: 1.8rem;
}

.date-block p {
margin-bottom: 4rem;
}

.date-block-1 {
    margin-right: 4.3rem;
}

.btn-primary{
    margin-right: 3.6rem;
}
.btn-primary{
    margin-bottom: 0.0rem;
}
.custom-card{
    width: 400px;
    height: 390px;
    border-radius: 10px;
    margin-bottom: 2rem;
    overflow: hidden;
}
.card-container {
    overflow-x: auto;
    max-width: 100%;/* Ajusta el valor según el espacio deseado */
}
.custom-row {
    --bs-gutter-x: 0.0rem;
}
.row {
    --bs-gutter-x: 0.0rem;
}
.busqueda-row {
    --bs-gutter-x: 1rem;
}
.hover-elevation:hover {
    box-shadow: 0px 0px 10px rgba(0, 191, 255, 0.7);
    transform: translateY(3px);
    border-radius: 8px;
}
footer{
    color: #ffff;
}

footer a,li{
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
}
i{
    font-size: 2.5rem;
    align-items: flex-end;
    text-align: right;
}

footer li {
    text-align: left;
}
.centrado {
    display: grid;
    justify-content: center;
    align-content: center;
}

footer p{
    font-size: 1.5rem;

}
.mapa iframe {
    height: 18vh;
    width: auto;
}

footer {
    background-color: #059EE1;
    width: 100%;
    height: auto;
    align-content: center;
    text-align: center;

}

@media  screen and (max-width:991px) {
    .tarjetas{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-content: center;
        align-content: center;
    
    }

    .card{
        margin: 15px;
    }
    
}

@media  screen and (max-width:850px) {
    .tarjetas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
    
    }

    .card{
        margin: 15px;
    }
    .img-1{
        padding: 40px 0;
        width: 100%;
    }
    
}

@media  screen and (max-width:750px) {
    .tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        left: 10px;
    
    }
    .card{
        margin: 15px;
    }
    .img-1{
        padding: 20px 0;
        width: 100%;
    }
    
}

@media  screen and (max-width:411px) {
    .tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        left: 5px;
    
    }
}


@media  screen and (max-width:375px) {
    .tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        left: 0px;
        
        }
        }

        @media  screen and (max-width:375px) {
            .tarjetas{
                display: grid;
                grid-template-columns: 1fr;
                position: relative;
                left: 0px;
            
            
            }
            }

            @media  screen and (max-width:320px) {
                .tarjetas{
                    display: grid;
                    grid-template-columns: 1fr;
                    position: relative;
                    left: 30px;
                    width: 200px;
                
                }
                
                }